html{
    font-size: 16px;
}

body{
    background: transparent;
    display: flex;
    font-size: 1rem; /* body默认字体大小16px */
}

/*背景*/
.background{
    position: fixed;
    background-image: url('/images/2.jpg');
    background-attachment: scroll;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/*顶栏*/
.header{
    position: relative;
    width: 100%;
    height: 3rem;   /* em取的是父级的字体大小为基本单位，如body字体为16px,3em即3×16=48px */
    margin: 0rem;   /*rem取的是根元素的字体大小为基本单位，根元素即HTML元素*/
    background-color: aqua;
}
/*派生选择器*/
.header specialText{
    color: red;
}
/*LOGO*/
.header .logo{
    /*
    absolute相对父级元素进行定位；
    fixed相对窗口进行定位；
    relative相对其正常位置进行定位；
    static是HTML默认的文件流定位；
    inherit是继承父级元素的定位方式；
    */
    position: absolute;  
    background-color:transparent;
    width: 2rem;
    height: 2rem;
    margin: 0;
    left: 46%;
    top: 20%;
}
/*顶栏标题*/
.header .title{
    color: black;
    position: absolute;
    top: 1rem;
    left: 50%;
    font-weight: 1000;
    font-size: 1rem;
}

/*登录框*/
.loginForm{
    position: fixed;
    top: 35%;
    left: 40%;
    width: 32rem;
    height: 20rem;
    background: transparent;
    color: transparent;
    border-color: yellowgreen;
    border-style: solid;
    border-radius: 1.1rem;
}
/*登录框顶栏*/
.loginForm .head{
    position: absolute;
    top: 0;
    width: 32rem;
    height: 4rem;
    background: cadetblue;
    opacity: 0.7;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;   
}
/*登录框顶栏标题*/
.loginForm .head .title{
    position: absolute;
    width: 32rem;
    height: 4rem;
    text-align: center;
    top:30%;
    font-size: 1rem;
    font-weight: 1000;
    color: white;
}
/*登录框操作区域*/
.loginForm .mainForm{
    position: absolute;
    bottom: 0;
    width: 32rem;
    height: 16rem;
    background-color: white;
    opacity: 0.5;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/*【帐号】*/
.loginForm .mainForm .txtAccount{
    position: absolute;
    left: 20%;
    top: 20%;
    color: black;
    font-size: 1rem;
    font-weight: 1000;
}
/*账号输入框*/
.loginForm .mainForm .inputAccount{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 13.5rem;
    height: 1rem; 
    border-left-color: white;
    border-top-color: gray;
}
/*【密码】*/
.loginForm .mainForm .txtPassword{
    position: absolute;
    left: 20%;
    top: 40%;
    color: black;
    font-size: 1rem;
    font-weight: 1000;
}
/*密码输入框*/
.loginForm .mainForm .inputPassword{
    position: absolute;
    left: 30%;
    top: 40%;
    width: 13.5rem;
    border-left-color: white;
    border-top-color: gray;
}
/*登录按钮*/
.loginForm .mainForm .btnSubmit{
    position: absolute;
    left: 50%;
    top: 60%;
    width: 6rem;
    height: 2rem;
}
/*取消按钮*/
.loginForm .mainForm .btnCancel{
    position: absolute;
    left: 25%;
    top:60%;
    widows: 6rem;
    height: 2rem;
    width: 6rem;
    height: 2rem;
}



